body {
    background-color: rgba(240, 239, 242, 1);
}

.title {
    padding: 80px 0px 20px;
    margin: 0px auto;
    width: 75%;
}

.attendance__title {
    text-align: left;
    padding: 10px;
    border-left: 8px solid rgba(0, 0, 0, 1);
    font-size: 30px;
}

.select__date {
    padding: 30px 0px;
    margin: 30px auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.previous-day,
.next-day {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 25px;
    text-decoration: none;
    font-size: 16px;
    color: rgba(115, 115, 115, 1);
}

.left-arrow__img {
    width: 30%;
    height: 30%;
}

.date__search-form {
    width: 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.calendar__label {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.calendar__img {
    width: 25px;
    height: 25px;
}

.calendar__input {
    position: absolute;
    top: 0;
    left: -5%;
    width: 70%;
    height: 110%;
    opacity: 0;
    cursor: pointer;
}

input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.calendar__submit {
    padding: 3px 8px;
    border: 1px solid rgba(115, 115, 115, 1);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.right-arrow__img {
    width: 30%;
    height: 30%;
    transform: rotate(180deg);
}

.attendance-list {
    padding: 30px 0px;
    margin: 30px auto;
    width: 75%;
}

.attendance-list__table {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.label__row {
    height: 40px;
    border-bottom: 3px solid rgba(240, 239, 242, 1);
}

.table__label,
.table__data {
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
    color: rgba(115, 115, 115, 1);
}

.data__row {
    border-bottom: 2px solid rgba(240, 239, 242, 1);
}

.data__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}